*.sql linguist-language=SQL

data/* linguist-vendored
outputs/* linguist-vendored
figures/* linguist-generated
*.csv linguist-generated
*.png linguist-generated
*.jpg linguist-generated
*.jpeg linguist-generated
