*.sql linguist-language=SQL

scripts/*.py linguist-vendored

data/** linguist-generated
outputs/** linguist-generated
figures/** linguist-generated

*.csv linguist-generated
*.png linguist-generated
*.jpg linguist-generated
*.jpeg linguist-generated
